// colors and sizes

$primary-color:       #1c2b97;
$primary-color-light: #9fa8da;

$white-color: #fff;
$black-color: #000;

// grid

$grid-width: 114rem;
$gutter-vertical: 8rem; // gap between two items
$gutter-horizontal: 6rem;