.heading__primary {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block; //necessary for text linear gradient
    background-image: linear-gradient(to right,$primary-color,$primary-color-light);
    background-clip: text; //background remains just behind text
    -webkit-background-clip: text; //old chrome support
    -moz-background-clip: text; //mozilla support
    color: transparent; //to apply background color
    transition: all 100ms ease-in-out; //transition for all thing that changes

    &:hover{
        transform: rotate(-1deg) skew(15deg);
        text-shadow: 5px 6px 4px rgba($black-color ,0.5);
    }
}